<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BF8F2C11DB9E31C00E8AD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF8F2D81DB9E31C00E8AD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF8F2E31DB9E31C00E8AD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
